/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/*
app/release
app/staging
app/dev
app/debug
BambuPay-Client-Android/.idea/gradle.xml
BambuPay-Client-Android/.idea/misc.xml
BambuPay-Client-Android/.idea/modules.xml
BambuPay-Client-Android/.idea/runConfigurations.xml
BambuPay-Client-Android/.idea/vcs.xml
BambuPay-Client-Android/.idea/markdown-navigator.xml
BambuPay-Client-Android/fastlane/README.md
BambuPay-Client-Android/fastlane/report.xml
BambuPay-Client-Android/.idea/compiler.xml
BambuPay-Client-Android/.idea/copyright/profiles_settings.xml
BambuPay-Client-Android/.idea/markdown-navigator/profiles_settings.xml
BambuPay-Client-Android/.idea/caches/build_file_checksums.ser
BambuPay-Client-Android/.idea/codeStyles/Project.xml